<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <ros2_control name="palmvision_ros2_control" type="system">
        <hardware>
            <plugin>palmvision_control/PalmVisionControlHardware</plugin>
            <param name="front_left_wheel_name">f_left_wheel_joint</param>
            <param name="front_right_wheel_name">f_right_wheel_joint</param>
            <param name="back_left_wheel_name">b_left_wheel_joint</param>
            <param name="back_right_wheel_name">b_right_wheel_joint</param>
            <param name="servo_name">arm_joint</param>
            <param name="device">/dev/esp32</param>
            <param name="baud_rate">115200</param>
            <param name="timeout_ms">1000</param>
            <param name="enc_counts_per_rev">480</param>
        </hardware>

        <joint name="f_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="b_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="f_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="b_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="arm_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

    </ros2_control>

</robot>
